extends layout

block header
  script(src="javascripts/register.js")


block content
  div.admin
    div.login
      h1= title
      - if(error)
        div.error #{error}
      div.login-form
        form(action="/login", method="post")
            div.form-group
                input.form-control.limitwidth(type="text", name="username", placeholder="Enter a name!")
            button.btn.btn-default(type="submit") Lets go!
              
