extends layout

block header
  script(src="js/register.js")
  script(src="https://cdn.socket.io/socket.io-1.3.7.js")
  link(href='/stylesheets/admin.css', rel='stylesheet')

block content
  div.admin
    div.login
      h1= title
      h3
      | Give yourself a name!
      - if(error)
        div.error #{error}
      div.login-form
        form(action="/login", method="post")
            div.form-group
                input.form-control.limitwidth(type="text", name="username", placeholder="Ex: Bob or Sally")
            button.btn.btn-default(type="submit") Lets go!
  //script(src="js/frontend-socket.js")
