extends layout

block content
  h1= title
  p Welcome to #{title}
  - if(error)
    div.error #{error}
  p Please log in
  div
    form(action="/login", method="post")
        div
            input(type="text", name="username")
            label(for="username") Username
        button(type="submit") Login
