/**
 * stats.scss
 * ----------------------------------
 * Styling for the stats page
 * @extends 
 * Bourbon and Neat by Thoughtbot
 */
/* FUcking work */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
 @ typography.scss
 @ ----------------------------------
 @ Styling for proper responsive typography
 @
*/
body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: .3px; }

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0px 10px; }

.wrapper {
  font-size: 1em;
  line-height: 1.25; }

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  .wrapper {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ }

  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; }

  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25; }

  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25; }

  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */ } }
@media (min-width: 56.25em) {
  h1 {
    font-size: 2.5em;
    /* 3x body copy size = 48px */
    line-height: 1.15;
    /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */ }

  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25; }

  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25; } }
body, html, .wrapper {
  height: 100%;
  font-family: 'Cabin', sans-serif; }

header {
  height: inital;
  width: 100%;
  background: #373737;
  padding: 1em;
  color: #EAEAE2; }

.wrapper {
  height: 100%;
  background: #EAEAE2;
  color: #373737; }

.stats {
  dsiplay: flex;
  padding: 1em 2.5em; }

.players {
  border: 1px solid #D6D8C9;
  border-left: 4px solid #DD6264;
  padding: 1.5em;
  background: #F2F2F0;
  margin: 1em 0em; }
  .players table {
    width: 100%; }
    .players table tr.header {
      font-weight: bold; }
    .players table td {
      padding: 0.2em 1em; }

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 1em 2em;
  text-align: center; }
  .info h3 {
    padding-bottom: 1em; }

.time, .items, .traps {
  flex: 1 1 auto;
  border: 1px solid #D6D8C9;
  padding: 1.5em;
  background: #F2F2F0;
  margin: 1em 0.5em;
  max-width: 400px; }
  @media screen and (max-width: 480px) {
    .time, .items, .traps {
      margin: 1em 0em;
      max-width: 100%; } }

.time {
  border-left: 4px solid #5AA4DC; }
  .time .timer {
    position: relative;
    width: 100%; }
    .time .timer h4 {
      text-align: center;
      position: absolute;
      line-height: 155px;
      width: 100%;
      margin: 0; }
  .time .svg {
    width: 50%;
    margin: 0 auto; }
  .time svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .time .circle_animation {
    stroke-dasharray: 440;
    /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 2s ease-in; }

.items {
  border-left: 4px solid #9C5DE1; }

.traps {
  border-left: 4px solid #71C27F; }
