extends layout

block header


block content
  nav.navbar.navbar-inverse.navbar-transparent.navbar-fixed-top(role='navigation')
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button#menu-toggle.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
          a.navbar-brand(href='#')
            i.fa.fa-paw.fa-spin
            |  Pyjama Jam
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(onclick="scrollTo('.about');")
                | What is Pyjama Jam?
            li
              a(onclick="scrollTo('.play');")
                | How to play
            li
              a(onclick="scrollTo('.action');")
                | See it in Action
            li
              a(onclick="scrollTo('.team');")
                | The Team




  .wrapper
    .parallax.filter-black
      .parallax-image
        img(src='/img/about/screen4.jpg')
      .small-info
        h1
          | Pyjama Jam
          small.subtitle In the funky forest
        .col-md-2.col-md-offset-5.text-center.visible-xs.visible-sm
          .card.card-plain
            button.btn.btn-block.btn-lg.btn-fill.btn-info.btn-stumbleupon(href='/' type='button') Go to the mobile app &nbsp;
              i.fa.fa-share

    .section.about
      .container
        h2.section-title What is Pyjama Jam?
        .row
          .col-md-6
            p
              | Pyjama Jam follows four young animal friends who are having a slumber party in the forest. The critters explore the forest during the day by leaping between platforms and collecting the coolest items for the party. The friends can use the items that they collect or bring them back to the cabin. The animal that brings back the most supplies to the cabin during the day is rewarded with a brighter light at night.
            p
              | At night, the friends must battle spooky monsters as they once again compete to get the most items. Whoever returns the most items by the end of the night wins the right to sleep in the top bunk.
          .col-md-6
            .card.card-plain
                .image
                  img(src='/img/about/screen3.jpg', alt='...')
                  .filter
                    a(href='/img/about/screen3.jpg' rel='lightbox')
                      button.btn.btn-neutral.btn-simple(type='button')
                        i.fa.fa-image
                        |  View Image
    .section.section-gray.play
      .container
        h2.section-title How to Play
        .row
          .col-md-6
            .card.card-product
                .image
                  #card-product-carousel.carousel.slide(data-ride='carousel')
                    // Wrapper for slides
                    .carousel-inner
                      .item.active
                        img(src='/img/about/XBox1.jpg', alt='')
                      .item
                        img(src='/img/about/XBox2.jpg', alt='')
                      .item
                        img(src='/img/about/XBox3.jpg', alt='')
                    // Controls
                    a.left.carousel-control(href='#card-product-carousel', data-slide='prev')
                      span.fa.fa-angle-left
                    a.right.carousel-control(href='#card-product-carousel', data-slide='next')
                      span.fa.fa-angle-right
                .content
                  a(href='#')
                    h4.title XBox controller
                  p.description
                    | Grab an one and play as one of the 4 main characters!
                  p.description
                    | Collect items for points or use them on your friends
                  .footer
                    span.price.price Try to win!

              // end card
          .col-md-6
            .card.card-product
                .image
                  #card-product-carousel.carousel.slide(data-ride='carousel')
                    // Wrapper for slides
                    .carousel-inner
                      .item.active
                        img(src='/img/about/mobile1.jpg', alt='')
                      .item
                        img(src='/img/about/mobile2.jpg', alt='')
                      .item
                        img(src='/img/about/mobile3.jpg', alt='')
                    // Controls
                    a.left.carousel-control(href='#card-product-carousel', data-slide='prev')
                      span.fa.fa-angle-left
                    a.right.carousel-control(href='#card-product-carousel', data-slide='next')
                      span.fa.fa-angle-right
                .content
                  a(href='#')
                    h4.title Mobile
                  p.description
                    | Use your own phone and jump in on the action!
                  p.description
                    | Connect to the website and place traps to mess up your friends!
                  .footer
                    span.price.price Make your friends loathe you
              // end card
    .section.action
      .container
        h2.section-title See it in Action
        .row.photogallery
          .col-md-8
            .card.card-plain
              .image
                img(src='/img/about/screen1.jpg', alt='...')
                .filter
                  a(href='/img/about/screen1.jpg' rel='lightbox-action')
                    button.btn.btn-neutral.btn-simple(type='button')
                      i.fa.fa-image
                      |  View Image
            // end card
          .col-md-4
            .card.card-plain
              .image
                img(src='/img/about/screen2.jpg', alt='...')
                .filter
                  a(href='/img/about/screen2.jpg' rel='lightbox-action')
                    button.btn.btn-neutral.btn-simple(type='button')
                      i.fa.fa-image
                      |  View Image
            // end card
          .col-md-6
            .card.card-plain
              .image
                img(src='/img/about/screen3.jpg', alt='...')
                .filter
                  a(href='/img/about/screen3.jpg' rel='lightbox-action')
                    button.btn.btn-neutral.btn-simple(type='button')
                      i.fa.fa-image
                      |  View Image
            // end card
          .col-md-6
            .card.card-plain
              .image
                img(src='/img/about/screen4.jpg', alt='...')
                .filter
                  a(href='/img/about/screen4.jpg' rel='lightbox-action')
                    button.btn.btn-neutral.btn-simple(type='button')
                      i.fa.fa-image
                      |  View Image
            // end card
          .col-md-4
            .card.card-plain
              .image
                img(src='/img/about/HeroBanner.jpg', alt='...')
                .filter
                  a(href='/img/about/HeroBanner.jpg' rel='lightbox-action')
                    button.btn.btn-neutral.btn-simple(type='button')
                      i.fa.fa-image
                      |  View Image
            // end card
          .col-md-4
            .card.card-plain
              .image
                img(src='/img/about/mobile2.jpg', alt='...')
                .filter
                  a(href='/img/about/mobile2.jpg' rel='lightbox-action')
                    button.btn.btn-neutral.btn-simple(type='button')
                      i.fa.fa-image
                      |  View Image
            // end card
          .col-md-4
            .card.card-plain
              .image
                img(src='/img/about/mobile3.jpg', alt='...')
                .filter
                  a(href='/img/about/mobile3.jpg' rel='lightbox-action')
                    button.btn.btn-neutral.btn-simple(type='button')
                      i.fa.fa-image
                      |  View Image
            // end card
    // end section see it in action
    .section.section-gray.team
      .container
        h2.section-title
          | The Team
        .team-presentation
          .row
            .col-md-4
              .card.card-user
                .image
                  img(src='/img/login-bg.png')
                .content
                  .author
                    a(href='#')
                      img.avatar(src='/img/about/ian.png', alt='...')
                      h4.title
                        | Ian Clarke
                        br
                        small Team Member
                  p.description.text-center
                    i.fa.fa-code.fa-fw.text-muted
                    |  Front-End Developer
                    br
                    i.fa.fa-cloud-download.fa-fw.text-muted
                    |  Networking Programmer
                    br
                    i.fa.fa-crosshairs.fa-fw.text-muted
                    |  Unity Programmer
                hr
                .text-center
                  a(href='https://ca.linkedin.com/in/ian-ryan-clarke-60a65475')
                    button.btn.btn-social.btn-linkedin.btn-simple()
                      i.fa.fa-linkedin
                  a(href='http://www.twitter.com/tridotdesigns')
                    button.btn.btn-social.btn-twitter.btn-simple()
                      i.fa.fa-twitter
                  a(href='http://www.github.com/iryanclarke')
                    button.btn.btn-social.btn-github.btn-simple()
                      i.fa.fa-github
              // end card
            .col-md-4
              .card.card-user
                .image
                  img(src='/img/login-bg.png')
                .content
                  .author
                    a(href='#')
                      img.avatar(src='/img/about/tegan.png', alt='...')
                      h4.title
                        | Tegan Scott
                        br
                        small Team Lead
                  p.description.text-center
                    i.fa.fa-picture-o.fa-fw.text-muted
                    |  Projection Mapper
                    br
                    i.fa.fa-crosshairs.fa-fw.text-muted
                    |  Unity Programmer
                    br
                    i.fa.fa-wrench.fa-fw.text-muted
                    |  Project Manager
                hr
                .text-center
                  a(href='https://ca.linkedin.com/in/teganscott')
                    button.btn.btn-social.btn-linkedin.btn-simple()
                      i.fa.fa-linkedin
                  a(href='https://github.com/teganscott')
                    button.btn.btn-social.btn-github.btn-simple()
                      i.fa.fa-github
              // end card
            .col-md-4
              .card.card-user
                .image
                  img(src='/img/login-bg.png')
                .content
                  .author
                    a(href='#')
                      img.avatar(src='/img/about/kiera.png', alt='...')
                      h4.title
                        | Kiera Lundberg
                        br
                        small Team Member
                  p.description.text-center
                    i.fa.fa-map-o.fa-fw.text-muted
                    |  Environment Designer
                    br
                    i.fa.fa-user-plus.fa-fw.text-muted
                    |  User testing
                    br
                    i.fa.fa-paint-brush.fa-fw.text-muted
                    |  Item Designer
                hr
                .text-center
                  a(href='https://ca.linkedin.com/in/kiera-lundberg-9383ba76')
                    button.btn.btn-social.btn-linkedin.btn-simple(type="button")
                      i.fa.fa-linkedin
                  a(href='https://github.com/kieralundberg')
                    button.btn.btn-social.btn-github.btn-simple(type="button")
                      i.fa.fa-github
          .row
            .col-md-4.col-md-offset-1
              .card.card-user
                .image
                  img(src='/img/login-bg.png')
                .content
                  .author
                    a(href='#')
                      img.avatar(src='/img/about/mike.png', alt='...')
                      h4.title
                        | Mike Zani
                        br
                        small Team Member
                  p.description.text-center
                    i.fa.fa-music.fa-fw.text-muted
                    |  Music composer
                    br
                    i.fa.fa-magic.fa-fw.text-muted
                    |  Enemy designer
                    br
                    i.fa.fa-paint-brush.fa-fw.text-muted
                    |  House designer
                hr
                .text-center
                  a(href="")
                    button.btn.btn-social.btn-linkedin.btn-simple(href='#')
                      i.fa.fa-linkedin
                  a(href='https://github.com/mikez771')
                    button.btn.btn-social.btn-github.btn-simple()
                      i.fa.fa-github
              // end card
            .col-md-4.col-md-offset-1
              .card.card-user
                .image
                  img(src='/img/login-bg.png')
                .content
                  .author
                    a(href='#')
                      img.avatar(src='/img/about/andrzej.png', alt='...')
                      h4.title
                        | Andrzej Banas
                        br
                        small Team Member
                  p.description.text-center
                    i.fa.fa-map.fa-fw.text-muted
                    |  Level Designer
                    br
                    i.fa.fa-paint-brush.fa-fw.text-muted
                    |  Character Designer
                    br
                    i.fa.fa-gamepad.fa-fw.text-muted
                    |  Gameplay testing
                hr
                .text-center
                  a(href='https://ca.linkedin.com/in/andrzej-banas-11350a75')
                    button.btn.btn-social.btn-linkedin.btn-simple()
                      i.fa.fa-linkedin
                  a(href='https://github.com/AndrzejBanas')
                    button.btn.btn-social.btn-github.btn-simple()
                      i.fa.fa-github
              // end card
    // end section meet our team
    footer.footer.footer-big.footer-transparent(style="background-image: url('/img/login-bg.png');")
      .container
        .row
          .col-md-3
            h5.title Looking for something?
            nav
              ul
                li
                  a(href='/')
                    | Mobile App
                li
                  a(href='/dashboard')
                    | Dashboard
                li
                  a(href='/admin')
                    | Admin
          .col-md-3
            h5.title External Links
            nav
              ul
                li
                  a(href='http://carleton.ca/')
                    | Carleton University
                li
                  a(href='http://bitdegree.ca/')
                    | BIT Degree
                li
                  a(href='http://algonquincollege.com/')
                    | Algonquin College
                li
                  a(href='#')
                    | Senior Project 2016
          .col-md-3
            .card.card-product
                .image
                  #card-product-carousel.carousel.slide(data-ride='carousel')
                    // Wrapper for slides
                    .carousel-inner
                      .item.active
                        img(src='/img/about/AC.jpg', alt='Algonquin College')
                      .item
                        img(src='/img/about/BIT.jpg', alt='Bachelor of Information Technology')
                      .item
                        img(src='/img/about/CU.jpg', alt='Carleton University')
                    // Controls
                    a.left.carousel-control(href='#card-product-carousel', data-slide='prev')
                      span.fa.fa-angle-left
                    a.right.carousel-control(href='#card-product-carousel', data-slide='next')
                      span.fa.fa-angle-right
                .content
                  p.description
                    | Special thanks to
            // end card
          .col-md-3
            h5.title Some stats
            nav.numbers
              ul
                li
                  h4
                    | 0
                    | games played
                li
                  h4
                    | 0
                    | traps placed
                li
                  h4
                    | 0
                    | items collected
        hr
        .social-area.text-center
          h5 Join us on
          a.btn.btn-social.btn-round(href='https://www.facebook.com/PyjamaJam/')
            i.fa.fa-facebook
          .copyright
            | &copy; 2016&nbsp;
            a(href='http://www.github.com/polygon-studios') Polygon Studios
            | , baaaaaaa
            i.fa.fa-heart
    // wrapper

    // jQuery and Bootstrap core files
    script(src='/js/jquery.js', type='text/javascript')
    script(src='/libs/slimbox/js/slimbox2.js', type='text/javascript')
    script(src='/js/jquery-ui.custom.min.js', type='text/javascript')
    script(src='/libs/bootstrap3/js/bootstrap.min.js', type='text/javascript')

    // Plugins
    script(src='/js/gsdk-checkbox.js')
    script(src='/js/gsdk-morphing.js')
    script(src='/js/gsdk-radio.js')
    script(src='/js/gsdk-bootstrapswitch.js')
    script(src='/js/bootstrap-select.js')
    script(src='./js/bootstrap-datepicker.js')
    script(src='/js/chartist.min.js')
    script(src='/js/jquery.tagsinput.js')

    // Core javascript
    script(src='/js/get-shit-done.js')
    script(src='/js/about-us.js')
