@import url(https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300);

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 0.7em;
}

body {
  position: initial;
}
#world {
  background: linear-gradient(#E6E6E6, #EBFFEA);
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}

.alerts {
  position: fixed;
  width: 100%;
  text-align: center;
}

.alerts .alert {
  display: none;
}

#traps {
  z-index: 100;
  position: fixed;
  bottom: 0;
  background-color: #27ae60;
  border-radius: 5px 5px 0px 0px;
  margin: 0 auto;
  width: 70%;
  left: 15%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.trap {
  background-color: #ecf0f1;
  margin: 0px 7px 0px 7px;
  text-align: center;
  float: left;
  width: 30%;
}

.selected {
  background-color: #f39c12;
}

.wait {
  z-index: 99;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: #27ae60;
  border-radius: 5px 5px 0px 0px;
  margin: 0 auto;
  width: 70%;
  left: 15%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.info {
  margin: 0px 7px 0px 7px;
  padding: 0px 7px 0px 7px;
  text-align: center;
  float: left;
  width: 100%;
  color: #EFEFEF;
}

.info p {
  font-size: 25px;
}

@media only screen and (max-width: 640px) {
  .trap {
    width: 30%;
  }
}
