@import url(https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300);

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
#world {
  background: linear-gradient(#E6E6E6, #EBFFEA);
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}

#traps {
  position: fixed;
  bottom: 0;
  background-color: #4CAF50;
  border-radius: 5px 5px 0px 0px;
  margin: 0 auto;
  width: 50%;
  left: 25%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.trap {
  background-color: #EFEFEF;
  margin: 0px 7px 0px 7px;
  text-align: center;
  float: left;
  width: 30%;
}

.selected {
  background-color: #FF9500;
}

@media only screen and (max-width: 640px) {
  .trap {
    width: 28%;
  }
}
