extends layout

block header


block content
  div.wrapper
    header
      div
        h1= title
    div.stats
      h2 Players
      div.players
        table
          tr.header
            td Icon
            td Player
            td.number Score
            td.number Items
            td.number Times stunned
          tr
            td X
            td Fox
            td.number 1,323
            td.number 15
            td.number 3
          tr
            td B
            td Glip Glop
            td.number 1,123
            td.number 11
            td.number 8
          tr
            td R
            td Rabbit
            td.number 1,019
            td.number 9
            td.number 12
          tr
            td T
            td Turtle
            td.number 982
            td.number 5
            td.number 22
    div.info
      div.time
        h2 Time Left
        div.timer
          h4 8m 00s
          div.svg
            include timer.html
      div.items
        h2 Items Collected
        h3 34
      div.traps
        h2 Traps placed
        h3 15


      
      
        
              
